.RegisterView {
  width: 350px;
  margin: 0 auto;
  transform: translateY(-10%)
}

.RegisterView__login-form-forgot  {
  float: right;
  margin-right: 10px;
}


.RegisterView__login-btn-wrapper {
  margin-left: 20px;
}